* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: cornsilk;
  font-family: 'Poppins', sans-serif;
  margin: 3rem 5%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

header > img {
  display: block;
  height: 18vh;
  margin-left: auto;
  margin-right: auto;
}

nav ul {
  list-style: none;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 3rem;
}

nav li {
  display: inline-block;
  text-decoration:none;
  padding: 0 2rem;
  font-family: 'PT Serif', serif;

}

a:link {
  text-decoration: none;
  color: #a63c06;
}

a:visited {
  text-decoration: none;
  color: #a63c06;
}


a:hover {
  text-decoration: none;
  color: #074E01;
}

a:active {
  text-decoration: none;
  color: #074E01;
}

main {
  min-height: 65vh;
  flex-grow: 1;
}

section {
  display: flex;
  margin-top: 2rem;
}

section article {
  flex: 1;
  margin: 1rem 1rem 0 1rem;
}

article p {
  margin-bottom: 1rem;
}

.middle {
  font-weight: bolder;
}

.left img {
  height: 15rem;
}

.middle img {
  height: 20rem;
}

.right img {
  height: 25rem;
}

.review {
  font-style: italic;
}

.about img {
  height: 25rem;
}

footer {
  display: flex;
  margin: 3rem auto;
}

footer div {
  flex: 1;
  font-size: 0.8rem;
  align-items: center;
  justify-content:flex-start;
}

footer img {
  height: 3rem;
  margin-bottom: 2rem;
}

/*===========Booking, Main, Login, About===================*/
/*body {*/
/*  background-color: #E0E0E2;*/
/*}*/

/*ul {*/
/*  list-style-type: none;*/
/*  text-align: center;*/
/*  padding: 0;*/
/*}*/

/*li {*/
/*  display: inline;*/
/*}*/

/*main {*/
/*  text-align: center;*/
/*}*/

/*footer {*/
/*  text-align: center;*/
/*}*/

/*h1 {*/
/*  color: #721817;*/
/*}*/

/*h2 {*/
/*  color: #721817;*/
/*}*/

/*.center-text {*/
/*  text-align: center;*/
/*}*/

/*img {*/
/*  display: block;*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*}*/

/*h2 > span {*/
/*  color: #FA9F42;*/
/*  font-size: 0.75em;*/
/*}*/

/*form {*/
/*  margin: 2rem auto;*/
/*}*/

/*form > div {*/
/*  margin-top: 0.5em;*/
/*  margin-bottom: 0.5em;*/
/*}*/

/*#copyright {*/
/*  padding-top: 12px;*/
/*  font-size: 0.75em;*/
/*}*/

/*input:focus:invalid {*/
/*  color: orangered;*/
/*  border: 2px solid orangered;*/
/*}*/