* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: cornsilk;
  font-family: 'Poppins', sans-serif;
  margin: 1rem 5%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

header > img {
  display: block;
  height: 18vh;
  margin-left: auto;
  margin-right: auto;
}

nav ul {
  padding-left: 3rem;
  margin-top: 2rem;
  list-style: none;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #475841;
}

nav li {
  display: inline-block;
  text-decoration:none;
  padding: 0 2rem;
  font-family: 'PT Serif', serif;
  cursor: pointer;
}

a:link {
  text-decoration: none;
  color: #F4CE14;
}

a:visited {
  text-decoration: none;
  color: #F4CE14;
}


a:hover {
  text-decoration: none;
  color: cornsilk;
}

a:active {
  text-decoration: none;
  color: cornsilk;
}


main {
  min-height: 60vh;
  flex-grow: 1;
}

section {
  display: flex;
  /*margin-top: 1.5rem;*/
}

section article {
  flex: 1;
  margin: 1rem 1rem 0 1rem;
}

article p {
  margin-bottom: 1rem;
}

.middle-column {
  font-weight: bolder;
}

.left-column img {
  height: 15rem;
}

.middle-column img {
  height: 20rem;
}

.right-column img {
  height: 25rem;
}

.review {
  font-style: italic;
}

.about img {
  height: 25rem;
}

form input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 6px;
  padding: 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 white;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px white;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  margin-bottom: 1rem;

  &:focus {
    box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px white;
  }

}


.button:link, .button:visited {
  box-shadow: 0 10px 14px -7px #475841;
  background:linear-gradient(to bottom, #f4cf14 5%, #faa507 100%);
  color: cornsilk;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0 1px 0 #475841;
}

.button:hover {
  background:linear-gradient(to bottom, #faa507 5%, #f4cf14 100%);
  color: chocolate;
}
.button:active {
  position:relative;
  top:1px;
}

footer {
  display: flex;
  margin: 3rem auto;
}

footer div {
  flex: 1;
  font-size: 0.8rem;
  align-items: center;
  justify-content:flex-start;
}

footer img {
  height: 3rem;
  margin-bottom: 2rem;
}
